#container {
    text-align: center;
    align-items: center;
}

#terrain {
    display: flex;
    align-items: flex-end;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    background-color: #ccc; 
}

.water {
    background-color: #00f; 
}

#result {
    margin-top: 10px;
}
